

.banner-image{
height: 250px;
top:25%;
position:absolute;
left: 0;    
background-position:center;
background-repeat:no-repeat;
background-size: cover;
}
/* .banner-image{
    height:250px;
    top:150px;
    left:0;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    position:static;
    
} */
.banner-text{
    position:absolute;
    top:20%;
    left: 15%;
    color: green;
    font-size: xx-large;  
    transform:(-50%,-50%);  
}


  