.banner-image{
height:0px; 
margin-top: 140px;
position:static;
background-position:center;
background-repeat:no-repeat;
background-size: cover;

}
/* .banner-text{
    position:static;
    margin-top:0px;
    left: 15%;
    color: green;
    font-size: xx-large;  
    transform:(-10%,-10%);  
} */


  