.content{        
    background-color:rgb(243, 197, 245);    
    margin-top: 150px;
    width: 100%;
    
    color: blue;
    position:static;    
}
.content h4{
    text-align: center;
}
.content p{
    text-align: justify;
    line-height: 24px;
    margin-left: 10%;
    margin-right: 10%;    
}
